# Server
PORT=3001
FRONTEND_URL=https://codconnect.ma

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=codconnect_db
DB_USER=codconnect_user
DB_PASSWORD=yZE8vCmsuka

# JWT
JWT_SECRET=codconnect-jwt-secret-2024-prod
JWT_EXPIRES_IN=7d
